<hi>メッセージ一覧</hi>

<ul>
    <% @tasks.each do |task| %>
        <li><%= link_to task.id, task %> : <%= task.content %></li><li><%= task.content %></li>
    <% end %>
</ul>

<%= link_to '新規メッセージの投稿', new_task_path %>